<ion-header>
  <ion-toolbar>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Botón para desplegar o esconder el QR -->
    <ion-button expand="full" color="primary" (click)="toggleQr()">Mostrar Código QR</ion-button>
  
    <!-- Imagen del código QR, controlada por una variable -->
    <img *ngIf="showQr" src="../../../assets/icon/ResgistrAppQR.PNG" alt="QR Code" class="qr-image"/>
  <ion-button expand="full" routerLink="/home">Volver a Inicio</ion-button>
</ion-content>
